In [74]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
file_paths = []
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        full_path = os.path.join(dirname, filename)
        file_paths.append(full_path)
        
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session


print(*file_paths[0:7], sep='\n')

/kaggle/input/child-mind-institute-problematic-internet-use/sample_submission.csv
/kaggle/input/child-mind-institute-problematic-internet-use/data_dictionary.csv
/kaggle/input/child-mind-institute-problematic-internet-use/train.csv
/kaggle/input/child-mind-institute-problematic-internet-use/test.csv
/kaggle/input/child-mind-institute-problematic-internet-use/series_test.parquet/id=00115b9f/part-0.parquet
/kaggle/input/child-mind-institute-problematic-internet-use/series_test.parquet/id=001f3379/part-0.parquet
/kaggle/input/child-mind-institute-problematic-internet-use/series_train.parquet/id=0745c390/part-0.parquet

In [45]:
# Let's work with one parquet file and observe what it contains

first_df = pd.read_parquet(file_paths[4], engine='auto')
print(first_df.isna().sum())
first_df

step                   0
X                      0
Y                      0
Z                      0
enmo                   0
anglez                 0
non-wear_flag          0
light                  0
battery_voltage        0
time_of_day            0
weekday                0
quarter                0
relative_date_PCIAT    0
dtype: int64

,step,X,Y,Z,enmo,anglez,non-wear_flag,light,battery_voltage,time_of_day,weekday,quarter,relative_date_PCIAT
0,0,0.021536,0.022214,-1.022370,0.022853,-88.280762,0.0,53.000000,4188.000000,56940000000000,4,3,41.0
1,1,0.022005,0.022187,-1.019740,0.020231,-88.241707,0.0,51.666668,4188.166504,56945000000000,4,3,41.0
2,2,0.022240,0.022005,-1.019401,0.019893,-88.170067,0.0,50.333332,4188.333496,56950000000000,4,3,41.0
3,3,0.021589,0.022578,-1.018177,0.018667,-88.250031,0.0,50.500000,4188.500000,56955000000000,4,3,41.0
4,4,0.022005,0.023763,-1.014323,0.016848,-88.130775,0.0,33.166668,4181.000000,57235000000000,4,3,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43325,43325,-0.008333,-0.023620,-1.006901,0.007224,-88.595741,0.0,0.000000,3824.000000,57580000000000,6,3,85.0
43326,43326,0.048730,-0.076725,-0.953776,0.056839,-85.352219,0.0,0.000000,3824.000000,57640000000000,6,3,85.0
43327,43327,0.387370,0.793151,-0.402214,0.069961,-24.097908,0.0,0.000000,3824.000000,57645000000000,6,3,85.0
43328,43328,0.801953,0.501589,-0.040937,0.045489,-2.113776,0.0,0.000000,3824.000000,57650000000000,6,3,85.0
43329,43329,0.792144,0.170486,-0.413108,0.063103,-16.771301,0.0,0.000000,3824.000000,57655000000000,6,3,85.0

In [68]:
# Now let's start doing some data pre-processing
### 1. get rid of "probably" irrelevant features
first_df.drop(labels=['battery_voltage',"X","Y","Z"], axis=1)
# print(first_df.shape)
# first_df.columns

,step,enmo,anglez,non-wear_flag,light,time_of_day,weekday,quarter,relative_date_PCIAT
0,0,0.022853,-88.280762,0.0,53.000000,56940000000000,4,3,41.0
1,1,0.020231,-88.241707,0.0,51.666668,56945000000000,4,3,41.0
2,2,0.019893,-88.170067,0.0,50.333332,56950000000000,4,3,41.0
3,3,0.018667,-88.250031,0.0,50.500000,56955000000000,4,3,41.0
4,4,0.016848,-88.130775,0.0,33.166668,57235000000000,4,3,41.0
...,...,...,...,...,...,...,...,...,...
43325,43325,0.007224,-88.595741,0.0,0.000000,57580000000000,6,3,85.0
43326,43326,0.056839,-85.352219,0.0,0.000000,57640000000000,6,3,85.0
43327,43327,0.069961,-24.097908,0.0,0.000000,57645000000000,6,3,85.0
43328,43328,0.045489,-2.113776,0.0,0.000000,57650000000000,6,3,85.0
43329,43329,0.063103,-16.771301,0.0,0.000000,57655000000000,6,3,85.0

In [67]:
help(pd.DataFrame.drop)

Help on function drop in module pandas.core.frame:

drop(self, labels: 'IndexLabel | None' = None, *, axis: 'Axis' = 0, index: 'IndexLabel | None' = None, columns: 'IndexLabel | None' = None, level: 'Level | None' = None, inplace: 'bool' = False, errors: 'IgnoreRaise' = 'raise') -> 'DataFrame | None'
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by directly specifying index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level. See the :ref:`user guide <advanced.shown_levels>`
    for more information about the now unused levels.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop. A tuple will be used as a single
        label and not treated as a list-like.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If False, return a copy. Otherwise, do operation
        in place and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame or None
        Returns DataFrame or None DataFrame with the specified
        index or column labels removed or None if inplace=True.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    Drop a specific index combination from the MultiIndex
    DataFrame, i.e., drop the combination ``'falcon'`` and
    ``'weight'``, which deletes only the corresponding row

    >>> df.drop(index=('falcon', 'weight'))
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    llama   speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [77]:
#1. Check missing values in all parquet folders:
#2. Normalize the parquet data
#3. Any more cleaning?
df = pd.DataFrame()
i=0
for file_path in file_paths[4:]:
    print(df)
    print(pd.read_parquet(file_path, engine='auto'))
    pd.concat([df,pd.read_parquet(file_path, engine='auto')])
    
    if i == 10:
        break
    i+=1

Empty DataFrame
Columns: []
Index: []
        step         X         Y         Z      enmo     anglez  \
0          0  0.021536  0.022214 -1.022370  0.022853 -88.280762
1          1  0.022005  0.022187 -1.019740  0.020231 -88.241707
2          2  0.022240  0.022005 -1.019401  0.019893 -88.170067
3          3  0.021589  0.022578 -1.018177  0.018667 -88.250031
4          4  0.022005  0.023763 -1.014323  0.016848 -88.130775
...      ...       ...       ...       ...       ...        ...
43325  43325 -0.008333 -0.023620 -1.006901  0.007224 -88.595741
43326  43326  0.048730 -0.076725 -0.953776  0.056839 -85.352219
43327  43327  0.387370  0.793151 -0.402214  0.069961 -24.097908
43328  43328  0.801953  0.501589 -0.040937  0.045489  -2.113776
43329  43329  0.792144  0.170486 -0.413108  0.063103 -16.771301

       non-wear_flag      light  battery_voltage     time_of_day  weekday  \
0                0.0  53.000000      4188.000000  56940000000000        4
1                0.0  51.666668      4188.166504  56945000000000        4
2                0.0  50.333332      4188.333496  56950000000000        4
3                0.0  50.500000      4188.500000  56955000000000        4
4                0.0  33.166668      4181.000000  57235000000000        4
...              ...        ...              ...             ...      ...
43325            0.0   0.000000      3824.000000  57580000000000        6
43326            0.0   0.000000      3824.000000  57640000000000        6
43327            0.0   0.000000      3824.000000  57645000000000        6
43328            0.0   0.000000      3824.000000  57650000000000        6
43329            0.0   0.000000      3824.000000  57655000000000        6

       quarter  relative_date_PCIAT
0            3                 41.0
1            3                 41.0
2            3                 41.0
3            3                 41.0
4            3                 41.0
...        ...                  ...
43325        3                 85.0
43326        3                 85.0
43327        3                 85.0
43328        3                 85.0
43329        3                 85.0

[43330 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
          step         X         Y         Z      enmo     anglez  \
0            0  0.679618 -0.578170  0.320939  0.273671  18.857922
1            1 -0.139180 -0.727815  0.591056  0.083061  37.902840
2            2 -0.601730 -0.353205  0.675733  0.032478  44.337727
3            3 -0.379666 -0.283236  0.613746  0.074800  44.593758
4            4  0.397701  0.470948 -0.486966  0.070064 -31.758539
...        ...       ...       ...       ...       ...        ...
396391  396391  0.397374  0.903648  0.042380  0.000008   2.460547
396392  396392  0.397217  0.903739  0.042524  0.000016   2.442535
396393  396393  0.397544  0.903907  0.042680  0.000007   2.474227
396394  396394  0.397269  0.903571  0.042068  0.000000   2.401142
396395  396395  0.397348  0.903286  0.042550  0.000000   2.441858

        non-wear_flag      light  battery_voltage     time_of_day  weekday  \
0                 0.0   6.000000      4175.000000  40260000000000        2
1                 0.0   1.500000      4174.750000  40265000000000        2
2                 0.0   1.000000      4174.500000  40270000000000        2
3                 0.0  55.200001      4174.250000  40275000000000        2
4                 0.0  21.000000      4174.000000  40280000000000        2
...               ...        ...              ...             ...      ...
396391            0.0   0.500000      3098.833252  35015000000000        4
396392            0.0   0.500000      3098.666748  35020000000000        4
396393            0.0   0.500000      3098.500000  35025000000000        4
396394            0.0   0.500000      3098.333252  35030000000000        4
396395            0.0   0.500000      3098.166748  35035000000000        4

        quarter  relative_date_PCIAT
0             3                 68.0
1             3                 68.0
2             3                 68.0
3             3                 68.0
4             3                 68.0
...         ...                  ...
396391        3                 91.0
396392        3                 91.0
396393        3                 91.0
396394        3                 91.0
396395        3                 91.0

[396396 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
        step         X         Y         Z      enmo     anglez  \
0          0  0.088385 -0.021719  0.988333  0.000192  84.628494
1          1  0.088750 -0.021823  0.988698  0.000246  84.657318
2          2  0.022700 -0.015929  0.988151  0.023109  87.189415
3          3 -0.076641 -0.048411  0.932135  0.043126  85.428131
4          4  0.006432  0.036354  1.000651  0.006071  88.175079
...      ...       ...       ...       ...       ...        ...
50453  50453 -0.076094  0.134740 -0.926458  0.018546 -79.993011
50454  50454 -0.036953  0.716641 -0.566276  0.082167 -37.996479
50455  50455  0.657422  0.551172 -0.236849  0.034297 -11.599527
50456  50456  0.442370  0.585365 -0.329740  0.061167 -22.907612
50457  50457  0.512812  0.353672 -0.429479  0.029134 -26.661840

       non-wear_flag      light  battery_voltage     time_of_day  weekday  \
0                0.0   8.250000      4186.000000  52200000000000        6
1                0.0  15.666667      4185.166504  52205000000000        6
2                0.0  13.583333      4187.000000  54385000000000        6
3                0.0  11.500000      4187.000000  54390000000000        6
4                0.0   1.661765      4187.000000  54395000000000        6
...              ...        ...              ...             ...      ...
50453            0.0   9.625000      3829.000000  33425000000000        6
50454            0.0   9.625000      3829.000000  33430000000000        6
50455            0.0   9.625000      3829.000000  33435000000000        6
50456            0.0   9.625000      3829.000000  33440000000000        6
50457            0.0   9.625000      3829.000000  33445000000000        6

       quarter  relative_date_PCIAT
0            2                 15.0
1            2                 15.0
2            2                 15.0
3            2                 15.0
4            2                 15.0
...        ...                  ...
50453        2                 57.0
50454        2                 57.0
50455        2                 57.0
50456        2                 57.0
50457        2                 57.0

[50458 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
          step         X         Y         Z      enmo     anglez  \
0            0  0.239474  0.128193 -0.539177  0.092807 -42.693729
1            1 -0.168031  0.960363 -0.175933  0.057144 -10.230113
2            2  0.005663  0.925091 -0.345249  0.090669 -20.674137
3            3  0.638858  0.243702 -0.425669  0.079404 -28.251497
4            4  0.262944  0.273228 -0.796457  0.094136 -58.822552
...        ...       ...       ...       ...       ...        ...
340579  340579  0.691592  0.324496 -0.625922  0.000000 -39.319786
340580  340580  0.691734  0.324223 -0.626246  0.000004 -39.332798
340581  340581  0.691863  0.324327 -0.626000  0.000000 -39.337654
340582  340582  0.691540  0.324509 -0.625961  0.000000 -39.329155
340583  340583  0.691760  0.324560 -0.625806  0.000000 -39.314053

        non-wear_flag  light  battery_voltage     time_of_day  weekday  \
0                 0.0   16.0      4143.000000  48000000000000        7
1                 0.0    8.5      4142.333496  48005000000000        7
2                 0.0   26.0      4141.666504  48010000000000        7
3                 0.0   41.0      4141.000000  48015000000000        7
4                 0.0   11.5      4140.333496  48020000000000        7
...               ...    ...              ...             ...      ...
340579            0.0    6.0      3098.833252  22895000000000        6
340580            0.0    6.0      3098.666748  22900000000000        6
340581            0.0    6.0      3098.500000  22905000000000        6
340582            0.0    6.0      3098.333252  22910000000000        6
340583            0.0    6.0      3098.166748  22915000000000        6

        quarter  relative_date_PCIAT
0             2                223.0
1             2                223.0
2             2                223.0
3             2                223.0
4             2                223.0
...         ...                  ...
340579        2                243.0
340580        2                243.0
340581        2                243.0
340582        2                243.0
340583        2                243.0

[340584 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
        step         X         Y         Z      enmo     anglez  \
0          0  0.002865 -0.008776 -1.015573  0.015632 -89.497078
1          1  0.002865 -0.008411 -1.015260  0.015315 -89.503937
2          2  0.150347  0.111545 -0.877951  0.056771 -88.676010
3          3 -0.016380  0.018333 -1.015182  0.015492 -88.614441
4          4 -0.016146  0.018359 -1.015538  0.015842 -88.603851
...      ...       ...       ...       ...       ...        ...
39998  39998  0.017969  0.005599 -1.002734  0.003047 -88.869896
39999  39999  0.402995  0.672656 -0.285286  0.132447 -36.498276
40000  40000  0.482370  0.693802 -0.443542  0.049878 -25.297770
40001  40001  0.150182  0.681510 -0.598021  0.052516 -39.263321
40002  40002  0.045378  0.380859 -0.872266  0.063646 -56.610527

       non-wear_flag      light  battery_voltage     time_of_day  weekday  \
0                0.0  19.666666      4183.000000  43920000000000        2
1                0.0  19.500000      4182.583496  43925000000000        2
2                0.0   0.000000      4181.000000  44160000000000        2
3                0.0   0.004587      4181.000000  44165000000000        2
4                0.0   0.009174      4181.000000  44170000000000        2
...              ...        ...              ...             ...      ...
39998            0.0  15.600000      3857.666748  33200000000000        4
39999            0.0  14.000000      3857.666748  33320000000000        4
40000            0.0  10.000000      3857.666748  33325000000000        4
40001            0.0   6.000000      3857.666748  33330000000000        4
40002            0.0   0.000000      3857.666748  33335000000000        4

       quarter  relative_date_PCIAT
0            3                 97.0
1            3                 97.0
2            3                 97.0
3            3                 97.0
4            3                 97.0
...        ...                  ...
39998        3                134.0
39999        3                134.0
40000        3                134.0
40001        3                134.0
40002        3                134.0

[40003 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
          step         X         Y         Z      enmo     anglez  \
0            0 -0.612375  0.153133  0.771365  0.016568  51.024044
1            1 -0.526671  0.025082  0.816607  0.025967  55.397850
2            2 -0.625827 -0.213089  0.703568  0.011903  47.294880
3            3 -0.240487  0.423889  0.226224  0.027166  20.777531
4            4 -0.128480  0.390601 -0.282948  0.034423 -25.915001
...        ...       ...       ...       ...       ...        ...
223910  223910  0.301501  0.050223 -0.962512  0.009939 -72.478386
223911  223911  0.562583 -0.572076  0.062135  0.169944 -14.577145
223912  223912 -0.124196  0.003818  0.836506  0.059091  70.781128
223913  223913 -0.073129  0.071175  1.000231  0.005738  84.182930
223914  223914 -0.073011  0.070654  0.998421  0.003816  84.175873

        non-wear_flag      light  battery_voltage     time_of_day  weekday  \
0                 0.0   1.500000      4193.000000  59580000000000        5
1                 0.0  10.750000      4192.833496  59585000000000        5
2                 0.0   1.666667      4192.666504  59590000000000        5
3                 0.0   3.571429      4192.500000  59595000000000        5
4                 0.0   5.476191      4192.333496  59600000000000        5
...               ...        ...              ...             ...      ...
223910            0.0  20.250000      5849.166504  67390000000000        1
223911            0.0  24.500000      5472.083496  67415000000000        1
223912            0.0  24.500000      5396.666504  67420000000000        1
223913            0.0  24.500000      5321.250000  67425000000000        1
223914            0.0  24.500000      5245.833496  67430000000000        1

        quarter  relative_date_PCIAT
0             4                 48.0
1             4                 48.0
2             4                 48.0
3             4                 48.0
4             4                 48.0
...         ...                  ...
223910        1                 72.0
223911        1                 72.0
223912        1                 72.0
223913        1                 72.0
223914        1                 72.0

[223915 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
        step         X         Y         Z      enmo     anglez  \
0          0 -0.693359 -0.424349  0.577734  0.062165  35.949165
1          1 -0.188802 -0.145781 -0.623229  0.019759 -59.144871
2          2  0.003672 -0.004062 -1.002995  0.003174 -89.684715
3          3  0.003906 -0.003841 -1.002279  0.002627 -89.672287
4          4 -0.505827 -0.187109  0.521940  0.179072  36.419117
...      ...       ...       ...       ...       ...        ...
15415  15415 -0.038064  0.079210 -0.942318  0.043824 -89.582306
15416  15416  0.001927  0.006120 -0.985677  0.000000 -89.575874
15417  15417  0.002691  0.005773 -0.985807  0.000000 -89.661858
15418  15418 -0.502604  0.173372 -0.652799  0.087872 -55.536137
15419  15419 -0.588932 -0.012630 -0.743099  0.042584 -49.070137

       non-wear_flag      light  battery_voltage     time_of_day  weekday  \
0                0.0  43.500000      4199.000000  53975000000000        2
1                0.0  45.000000      4199.000000  53980000000000        2
2                0.0  44.799999      4199.000000  53985000000000        2
3                0.0  19.500000      4199.000000  53990000000000        2
4                0.0   6.500000      4199.000000  62505000000000        2
...              ...        ...              ...             ...      ...
15415            0.0  20.666666      3815.083252  65325000000000        2
15416            0.0  20.648148      3815.083252  65330000000000        2
15417            0.0  10.000000      3815.083252  65335000000000        2
15418            0.0  27.500000      3815.083252  68715000000000        2
15419            0.0  27.500000      3815.083252  68720000000000        2

       quarter  relative_date_PCIAT
0            4                 20.0
1            4                 20.0
2            4                 20.0
3            4                 20.0
4            4                 20.0
...        ...                  ...
15415        4                 76.0
15416        4                 76.0
15417        4                 76.0
15418        4                 76.0
15419        4                 76.0

[15420 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
          step         X         Y         Z      enmo     anglez  \
0            0 -0.004731  0.003012  0.992979  0.001933  89.685936
1            1 -0.001580  0.004929  0.994947  0.000136  89.699936
2            2 -0.001803  0.005424  0.995528  0.000228  89.686310
3            3 -0.001776  0.005085  0.996532  0.000364  89.702271
4            4 -0.002064  0.004942  0.996413  0.000461  89.688278
...        ...       ...       ...       ...       ...        ...
387427  387427  0.458676  0.633383 -0.587601  0.000000 -36.921776
387428  387428  0.458951  0.633187 -0.587073  0.000000 -36.916187
387429  387429  0.458820  0.633552 -0.587165  0.000000 -36.895397
387430  387430  0.459081  0.632927 -0.587086  0.000000 -36.960037
387431  387431  0.459565  0.633279 -0.587258  0.000000 -36.906002

        non-wear_flag  light  battery_voltage     time_of_day  weekday  \
0                 0.0    1.0      4164.000000  42060000000000        3
1                 0.0    6.0      4163.416504  42065000000000        3
2                 0.0    0.0      4162.833496  42070000000000        3
3                 0.0   18.0      4162.250000  42075000000000        3
4                 0.0   28.0      4161.666504  42080000000000        3
...               ...    ...              ...             ...      ...
387427            0.0   19.0      3098.833252  78395000000000        4
387428            0.0   19.0      3098.666748  78400000000000        4
387429            0.0   19.0      3098.500000  78405000000000        4
387430            0.0   19.0      3098.333252  78410000000000        4
387431            0.0   19.0      3098.166748  78415000000000        4

        quarter  relative_date_PCIAT
0             2                436.0
1             2                436.0
2             2                436.0
3             2                436.0
4             2                436.0
...         ...                  ...
387427        3                458.0
387428        3                458.0
387429        3                458.0
387430        3                458.0
387431        3                458.0

[387432 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
        step         X         Y         Z      enmo     anglez  \
0          0  0.697604  0.663398  0.088047  0.030687   4.241837
1          1  0.553945  0.590495  0.346914  0.028160  22.999907
2          2 -0.093451  0.641497  0.469141  0.059117  31.973183
3          3 -0.387135 -0.353438  0.573372  0.046419  40.968136
4          4 -0.343724 -0.355339  0.792214  0.067833  57.952835
...      ...       ...       ...       ...       ...        ...
18199  18199 -0.302370 -1.343138 -0.124870  0.886583  -3.174576
18200  18200 -0.584401 -0.199974 -0.552175  0.056500 -36.788643
18201  18201 -0.730378 -0.308229  0.380560  0.343058  22.200708
18202  18202 -0.132109 -0.010911 -0.542513  0.169052 -35.143410
18203  18203 -0.776497 -0.053125 -0.386133  0.071511 -22.316376

       non-wear_flag      light  battery_voltage     time_of_day  weekday  \
0                0.0  28.500000      4112.000000  52560000000000        1
1                0.0  40.500000      4108.583496  52565000000000        1
2                0.0  40.500000      4105.166504  52570000000000        1
3                0.0  40.500000      4101.750000  52575000000000        1
4                0.0  33.666668      4098.333496  52580000000000        1
...              ...        ...              ...             ...      ...
18199            0.0   2.250000      3098.250000  57155000000000        2
18200            0.0   2.250000      3098.000000  57160000000000        2
18201            0.0   2.250000      3097.750000  57165000000000        2
18202            0.0   2.250000      3097.500000  57170000000000        2
18203            0.0   2.250000      3097.250000  57175000000000        2

       quarter  relative_date_PCIAT
0            1                 47.0
1            1                 47.0
2            1                 47.0
3            1                 47.0
4            1                 47.0
...        ...                  ...
18199        1                 48.0
18200        1                 48.0
18201        1                 48.0
18202        1                 48.0
18203        1                 48.0

[18204 rows x 13 columns]
Empty DataFrame
Columns: []
Index: []
        step         X         Y         Z      enmo     anglez  \
0          0 -0.007344  0.013698  1.001536  0.002837  89.099655
1          1 -0.008281  0.013906  1.002292  0.003364  89.093597
2          2  0.265208 -0.164740  0.795625  0.069570  69.364288
3          3  0.219271 -0.138568  0.898464  0.036002  68.445518
4          4  0.091719 -0.117161  0.993568  0.006895  81.465675